<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <title>Page Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2013/07/12/18/41/weather-153703_640.png">
    <!--    Sweet Alert-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script th:src="@{/js/sweetalert2.all.min.js}" type="text/javascript"></script>
</head>
<style>
    .navbar {
        background-image: linear-gradient(#426b82, #2fa4e7 60%, #1d9ce5);
    }
</style>
<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}"> <img alt="Charisma Logo" src="img/logo10.png"/>
            <span class="hidden-xs"></span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"
                  ><span
                        class="hidden-sm hidden-xs" th:utext="${#request.userPrincipal.name}"
                ></span></i>
<!--                <i class="glyphicon glyphicon-user"-->
<!--                   th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><span class="hidden-sm hidden-xs"-->
<!--                > User</span></i>-->
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item"
                    th:if="${#authorization.expression('hasRole(''ROLE_USER'')') && #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/admin}">Your Profile</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/admin}">Management</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}">Log-out</a></li>
            </ul>
        </div>        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                    class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="themes">
                <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a th:href="@{/}"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>

            <li class="dropdown">
                <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                        class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a class="ajax-link" th:href="@{/admin}"><i
                                class="glyphicon glyphicon-align-justify"></i><span> Tables</span></a></li>
                        <li><a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                        </li>
                        <li><a class="ajax-link" href="gallery.html"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a>
                        </li>
                        <li class="nav-header hidden-md">Sample Section</li>
                        <li><a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> UI Features</span></a>
                        </li>
                        <li><a class="ajax-link" href="typography.html"><i class="glyphicon glyphicon-font"></i><span> Typography</span></a>
                        </li>
                        <li><a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <div id="content" class="col-lg-10 col-sm-10">
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> Management Account</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user,iterStat : ${listUsers}" th:data-id="${user.id}">
                                    <td class="center" th:text="${user.username}"></td>
                                    <td class="center" th:text="${user.email}"></td>
                                    <td class="center"><input class="checkbox1" type="checkbox"
                                                              th:checked="${user.active}">
                                    </td>
                                    <td class="center">
                                        <div class="input-group mb-3">
                                            <select class="role" id="inputGroupSelect02">
                                                <option th:each="item : ${user.roleName}" th:utext="${item.roleName}"
                                                        th:value="${item.roleName}">
                                                <option th:each="item : ${user.roleName}" th:utext="ROLE_ADMIN"
                                                        th:if="${item.roleName == 'ROLE_USER'}"
                                                        value="ROLE_ADMIN"></option>
                                                <option th:each="item : ${user.roleName}" th:utext="ROLE_USER"
                                                        th:if="${item.roleName == 'ROLE_ADMIN'}"
                                                        value="ROLE_USER"></option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-danger deleteAccount" id="deleteEmp"
                                                title="Delete Account"><i class="glyphicon glyphicon-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div><!--/row-->
            <!-- content ends -->
        </div><!--/#content.col-md-0-->
    </div><!--/fluid-row-->


</div><!--/.fluid-container-->
<script>
    /**
     * Change Status User
     */
    // $(document).ready(function () {
    //     $('.checkbox1').change(function () {
    //         if ($(this).is(":checked")) {
    //             var returnVal = confirm("Do you want to enable this account?");
    //             if (returnVal) {
    //                 var id = $(this).closest("tr").attr("data-id");
    //                 $.ajax({
    //                     url: "/admin/edit-status-user",
    //                     type: "GET",
    //                     data: {
    //                         id: id,
    //
    //                     },
    //                 })
    //             } else {
    //                 $(this).prop('checked', returnVal);
    //             }
    //         } else {
    //             var returnVal = confirm("Do you want to disable this account?");
    //             // $(this).attr("checked", returnVal);
    //             if (returnVal) {
    //                 var id = $(this).closest("tr").attr("data-id");
    //                 $.ajax({
    //                     url: "/admin/edit-status-user",
    //                     type: "GET",
    //                     data: {
    //                         id: id,
    //                     },
    //                 })
    //             } else {
    //                 $(this).prop('checked', returnVal);
    //                 location.reload();
    //             }
    //         }
    //     });
    // })

    /**
     * Change Role User
     */
    $(document).ready(function () {
        $("select.role").change(function () {
            var selectedRole = $(this).children("option:selected").val();
            $("#inputGroupSelect02").val(selectedRole);
            Swal.fire('Done !', 'You click OK to continue !', 'success')
            // alert("You has changed ROLE of this account is " + selectedRole);
            var id = $(this).closest("tr").attr("data-id");
            console.log(id);
            $.ajax({
                url: "/admin/change-role",
                type: "GET",
                data: {
                    id: id,
                    role: selectedRole
                },
            })
        });
    });


</script>

<script>
    $('.checkbox1').change(function () {
        // event tu uncheck -> check
        if ($(this).is(":checked")) {

            swal({
                title: 'Comfirm!',
                text: "Are you sure that you want to perform this action?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, change it',
                cancelButtonText: 'No, cancel'

            }).then((result) = > {

                if(result.value
        )
            {
                var self = $(this);
                var id = $(this).closest("tr").attr("data-id");

                $.ajax({
                    url: "/admin/edit-status-user",
                    type: "POST",
                    data: {id: id},
                })
            }
        else
            {
                $(this).prop('checked', false)
            }
        })
        } else {

            swal({
                title: 'Comfirm!',
                text: "Are you sure that you want to perform this action?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, change it',
                cancelButtonText: 'No, cancel'

            }).then((result) = > {

                if(result.value
        )
            {
                var self = $(this);
                var id = $(this).closest("tr").attr("data-id");
                $.ajax({
                    url: "/admin/edit-status-user",
                    type: "POST",
                    data: {id: id}
                })
            }
        else
            {
                $(this).prop('checked', true)
            }
        })
        }
    });

    // $("select.role").change(function () {
    //     var id = $(this).closest("tr").attr("data-id");
    //     var selected = $(this).children("option:selected").val();
    //
    //     // if(selected == 'ROLE_ADMIN'){
    //     //     var roleName = "ROLE_ADMIN";
    //     // }else{
    //     //     var roleName = "ROLE_USER";
    //     // }
    //
    //     $.ajax({
    //         url  :"/admin/change-role",
    //         type :"POST",
    //         data :{
    //             id		 : id,
    //             role     : selected
    //         },
    //         success : function(value) {
    //             Swal.fire('Done !', 'You click OK to continue !', 'success')
    //         }
    //     })
    // })
</script>
<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>


</body>
</html>

<script>
    $(".deleteAccount").click(function () {
        swal({
            title: 'Comfirm!',
            text: "Are you sure that you want to perform this action?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it',
            cancelButtonText: 'No, cancel'
        }).then((result) = > {
            if(result.value
    )
        {

            var self = $(this);
            var id = $(this).closest("tr").attr("data-id");
            $.ajax({
                url: "/admin/delete",
                type: "post",
                data: {
                    id: id,

                },
                success: function (value) {
                    self.closest("tr").remove();
                }
            })

        }
    })

    })

</script>