<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <title>Ur-Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mai Trinh">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>
    <link href='css/weather-search.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2013/07/12/18/41/weather-153703_640.png">

    <style>
        .vk_gy vk_sh wob-dtl {
            margin-left: 310px;
        }
    </style>


    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--web font-->
    <link href='//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- //web font -->
    <!-- js -->
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 6,
                itemsDesktop: [640, 5],
                itemsDesktopSmall: [414, 4]

            });

        });
    </script>
    <!-- //js -->
    <script>
        $(document).ready(function () {

            var x = document.getElementById("demo");
            if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

            function showPosition(position) {

                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

                $.ajax({
                    url: "/local-weather",
                    type: "GET",
                    data: {
                        lat: lat,
                        lon: lon
                    },
                    success: function (value) {
                        var temp = value.main.temp;
                        var icon = '<span><img class="weather-widget__img" src="https://openweathermap.org/img/wn/'
                            + value.weather[0].icon + '.png"  width="75" height="75"></span>';
                        var city = '<span>' + value.name + '</span>';
                        var descript_local = '<span>' + value.weather[0].description + '</span>';
                        var tempMin = '<span>' + value.main.temp_min + ' &degC' + '</span>';
                        var tempMax = '<span>' + value.main.temp_max + '&degC' + '</span>';
                        var pressure = '<span>' + value.main.pressure + 'hpa.' + '</span>';
                        var humidity = '<span>' + value.main.humidity + '%' + '</span>';
                        var wind = '<span>' + value.wind.speed + 'm/s' + '</span>';

                        $('#city').append(city);
                        $('#icon_test').append(icon);
                        $('#temparature').append(temp);
                        $('#descript_local').append(descript_local);
                        $('#tempMin_local').append(tempMin);
                        $('#tempMax_local').append(tempMax);
                        $('#pressure_local').append(pressure);
                        $('#humidity_local').append(humidity);
                        $('#wind_local').append(wind);

                    }
                })
            }
        });
    </script>
</head>

<body onload="startTime()">
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" th:href="@{/}"> <img alt="Charisma Logo" src="img/logo10.png"/>
            <span class="hidden-xs"></span></a>
        <form th:action="@{/search-city}" method="get" class="search_form">
            <input type="text" class="form-control" name="cityName" placeholder="Search Location"
                   style="text-align: left" th:value="${param.cityName}">
            <div class="input-group-append" style="text-align: right">
                <button class="btn btn-secondary" type="submit"
                        style="margin-top: -70px; background-color: #ffffff00;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </form>
        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"
                   th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><span
                        class="hidden-sm hidden-xs"
                >Admin</span></i>
                <i class="glyphicon glyphicon-user"
                   th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><span class="hidden-sm hidden-xs"
                > User</span></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item"
                    th:if="${#authorization.expression('hasRole(''ROLE_USER'')') && #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/admin}">Your Profile</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/admin}">Management</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}">Log-out</a></li>
            </ul>
        </div>        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle hidden-xs" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                    class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu hidden-xs" id="themes">
                <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->
    </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        <!-- left page starts -->
        <br>
        <div class="col-sm-1 col-lg-1"></div>
        <div class="col-sm-5 col-lg-5">
            <div class="nav-canvas">
                <div class="nav-sm nav nav-stacked"></div>
                <div class="nav nav-pills nav-stacked main-menu">
                    <!--Not Found City-->
                    <div class="table" th:if="${message != null}">
                        <div class="frame" th:object="${currentWeather}">
                            <h3 class="message" th:text="${message}"></h3></div>
                    </div>
                    <!--Current Location Weather-->
                    <div class="main cur_local" th:if="${currentWeather == null && message ==null}">
                        <div class="frame" style="width: 100%; height: 400px; border-width: 1px;
                                    border-style: solid;border-radius: 5px; border-color: #d7cece;
                                    padding: 20px 16px 12px 16px;">
                            <div class="main">
                                <div class="main-wthree-row">
                                    <div class="agileits-top">
                                        <div class="agileinfo-top-row">
                                            <div class="icon_descript">
                                                <div id="icon_test"></div>
                                                <div id="descript_local"></div>
                                            </div>
                                            <div>
                                                <h3 id="temparature"></h3>
                                                <div class="vk_bk wob-unit"><span
                                                        class="wob_t" style="display:inline"
                                                        aria-label="°Celsius"
                                                        aria-disabled="true"
                                                        role="button">°C</span><a class="wob_t" href="#"
                                                                                  style="display:none;text-decoration:none">
                                                    <span aria-label="°Celsius">°C</span></a>&nbsp;|&nbsp;
                                                    <a class="wob_t" href="#"
                                                       style="display:inline;text-decoration:none;margin-left:-1px"
                                                       role="button">
                                                <span
                                                        aria-label="°Fahrenheit" style="color: darkblue">°F</span></a>
                                                    <span
                                                            class="wob_t"
                                                            style="display:none;margin-left:-1px;"
                                                            aria-label="°Fahrenheit"
                                                            aria-disabled="true"
                                                            role="button">°F</span>
                                                </div>
                                            </div>
                                            <!--                                            <p></p>-->
                                            <div class="agileinfo-top-time">
                                                <div class="date-time">
                                                    <div class="dmy">
                                                        <div id="txt"></div>
                                                        <div class="date">
                                                            <!-- Date-JavaScript -->
                                                            <script type="text/javascript">
                                                                var mydate = new Date()
                                                                var year = mydate.getYear()
                                                                if (year < 1000)
                                                                    year += 1900
                                                                var day = mydate.getDay()
                                                                var month = mydate.getMonth()
                                                                var daym = mydate.getDate()
                                                                if (daym < 10)
                                                                    daym = "0" + daym
                                                                var dayarray = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
                                                                var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
                                                                document.write("" + dayarray[day] + ", " + montharray[month] + " " + daym + ", " + year + "")
                                                            </script>
                                                            <!-- //Date-JavaScript -->
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w3ls-bottom">
                                        <h2>Today's Weather </h2><br>
                                        <div id="owl-demo" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>10AM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>11AM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>22<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>12PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/2.png" alt=""/>
                                                    </a>
                                                    <p>22<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>1PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/3.png" alt=""/>
                                                    </a>
                                                    <p>24<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>2PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/4.png" alt=""/>
                                                    </a>
                                                    <p>23<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p> 3PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/4.png" alt=""/>
                                                    </a>
                                                    <p>22<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>4PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/2.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>5PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/2.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>6PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>7PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>8PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>9PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>10PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //main -->
                        </div>
                    </div>
                    <!--Search Weather-->
                    <div class="main search_wea" th:if="${currentWeather != null}">
                        <div class="frame" th:object="${currentWeather}">
                            <!--                            <div class="frame_weather" style="border-radius: 15px; background-color: #ffffffcf; width: 100%; height: 100%;padding: 10px 16px 24px 16px;">-->
                            <div class="agileits-top" style="padding: 20px 16px 24px 16px;">
                                <div role="heading">
                                    <br><br>
                                    <div class="local">
                                        <a th:href="@{/weather-detail/__*{cityName}__}"
                                           style="font-size: x-large !important; color: #555555 !important;"
                                           th:text="*{cityName}" th:value="${param.cityName}">
                                        </a>
                                    </div>
                                    <div class="dateNow"
                                         style="font-size: medium !important; color: #555555 !important; margin-top: 15px">
                                        <p th:text="*{#calendars.format(date, 'dd-MM-yyyy')}"></p>
                                    </div>
                                    <div class="descript" style="margin-top: 15px"><span><i
                                            th:text="*{description}"></i></span></div>
                                    <div class="action" style="float: right" th:switch="${status}">
                                        <a class="btn btn-primary" th:case="'add'"
                                           th:href="@{/save-weather/__*{cityName}__}"
                                           style="margin-top: -275px; background-image: linear-gradient(#1e86d5, #274c61 60%, #32454f);">Add</a>
                                        <a class="btn btn-warning" th:case="'update'"
                                           th:href="@{/update-weather/__*{cityName}__}"
                                           style="margin-top: -275px">Update</a>
                                    </div>
                                </div>
                                <div id="wob_d"
                                     style="font:16px arial,helvetica,sans-serif;padding:40px 0 0;-webkit-touch-callout:none;-webkit-user-select:none;">
                                    <div>
                                        <img th:src="'http://openweathermap.org/img/w/'+*{icon}+'.png'"
                                             width="50"
                                             height="50" style="float:left;height:64px;width:64px">

                                        <div aria-level="3" role="heading"
                                             style="padding-left:10px;float:left; width: 220px">
                                            <div>
                                                <div class="vk_bk sol-tmp"
                                                     style="float:left;margin-top:-3px;font-size:60px">
                                    <span class="wob_t" id="wob_tm" style="display:inline"
                                          th:text="*{#numbers.formatDecimal(temp,2,1)}"></span>
                                                    <span class="wob_t" id="wob_ttm"
                                                          style="display:none">82</span>
                                                </div>
                                                <div class="vk_bk wob-unit"
                                                     style="font-size:16px;margin-right:50px"><span
                                                        class="wob_t" style="display:inline; color: #555555"
                                                        aria-label="°Celsius"
                                                        aria-disabled="true"
                                                        role="button">°C</span><a class="wob_t" href="#"
                                                                                  style="display:none;text-decoration:none"
                                                                                  data-lams=""
                                                                                  data-metric="true"
                                                                                  data-url="/setprefs?fheit=0&amp;sig=0_mbZMdjB5rj8mIQKxwwtGp6YovTA=&amp;prev=https://www.google.com/search%3Fq%3Dweather%26oq%3Dweather%26aqs%3Dchrome..69i57j69i60l5.3792j1j4%26sourceid%3Dchrome%26ie%3DUTF-8"
                                                                                  role="button" jsaction="wob.t"
                                                                                  data-ved="2ahUKEwjcj4Xan6PlAhXCQN4KHQImBKIQ-lswAHoECAwQAQ"><span
                                                        aria-label="°Celsius">°C</span></a>&nbsp;|&nbsp;<a
                                                        class="wob_t"
                                                        href="#"
                                                        style="display:inline;text-decoration:none;margin-left:-1px"
                                                        data-lams=""
                                                        data-metric="false"
                                                        data-url="/setprefs?fheit=1&amp;sig=0_mbZMdjB5rj8mIQKxwwtGp6YovTA=&amp;prev=https://www.google.com/search%3Fq%3Dweather%26oq%3Dweather%26aqs%3Dchrome..69i57j69i60l5.3792j1j4%26sourceid%3Dchrome%26ie%3DUTF-8"
                                                        role="button"
                                                        jsaction="wob.t"
                                                        data-ved="2ahUKEwjcj4Xan6PlAhXCQN4KHQImBKIQ-1swAHoECAwQAg"><span
                                                        aria-label="°Fahrenheit">°F</span></a> <span
                                                        class="wob_t"
                                                        style="display:none;margin-left:-1px"
                                                        aria-label="°Fahrenheit"
                                                        aria-disabled="true"
                                                        role="button">°F</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vk_gy vk_sh wob-dtl" style="font-weight: bold;">
                                            <div>Pressure: <span id="wob_pp" th:text="*{pressure}+' hpa'"></span>
                                            </div>
                                            <div>Humidity: <span id="wob_hm" th:text="*{humidity}+' %'"></span>
                                            </div>
                                            <div>Wind: <span><span class="wob_t" id="wob_ws"
                                                                   th:text="*{wind}+' m/s'"></span></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- left page ends -->

        <!-- right page starts-->
        <!-- History Weather-->
        <div id="content" class="col-lg-6 col-sm-6">
            <div class="row">
                <div class="box col-md-12" th:if="${listCities != null}">
                    <div class="box-inner chung">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-cloud"></i> History Weather</h2>
                        </div>
                        <div class="cover" style="overflow: auto; height: 363px">
                            <div class="cityList" th:each="weather1,i : ${listCities}"
                                 th:attr="weather=${weather1.getCityName()}">
                                <table class="table table-striped">
                                    <th:block class="listCities" th:each="ci : ${weatherList0.get(i.index)}"
                                              th:attr="wtest=${ci.getCityName()}">
                                        <th:block th:each="w : ${ci}">
                                            <tr class="detailDB" th:object="${w}"
                                                th:attr="city=${weather1.getCityName()}">
                                                <td class="icon_rps">
                                                    <img th:src="*{icon}" class="icon">
                                                </td>
                                                <td class="city_rps">
                                                    <!--                                                        <div class="city-date">-->
                                                    <b><a th:href="@{/weather-detail/__*{cityName}__}">
                                                        <p class="nameCity"
                                                           th:text="*{cityName}"></p>
                                                    </a></b>
                                                    <p th:text="*{#dates.format(date, 'dd-MM-yyyy')}"
                                                       style="color: black"></p>
                                                    <!--                                                        </div>-->
                                                </td>
                                                <td class="temp_rps">
                                                    <!--                                                        <div class="property">-->
                                                    <div class="badge badge-info"
                                                         th:text="*{temp}+'°С'"></div>
                                                    <b><i id="descript_rps" th:text="*{description}"
                                                          style="color: black"></i></b>
                                                    <p style="color: black" class="general_rps hidden-xs"
                                                       th:text="*{wind}+'m/s &nbsp;  '+ *{humidity}+'% &nbsp; '+*{pressure}+'hpa. '">
                                                        <!--                                                        </div>-->
                                                </td>
                                                <td><a class="text-info"
                                                       th:href="@{/delete-weather/__*{weatherId}__}"
                                                       onclick="return confirm('Do you want to delete this record?')"
                                                       title="Delete Weather">
                                                    <i class="glyphicon glyphicon-minus-sign"
                                                       style="color: red"></i>
                                                </a></td>
                                            </tr>
                                        </th:block>
                                    </th:block>
                                </table>
                                <div class="show-more pointer" th:if="${weatherList0.get(i.index).size() > 1}"
                                     th:attr="show=${weather1.getCityName()}"
                                     style="font-weight:bold; font-size: 15px; text-align: center; background: #c6c6db61;color:#317eac;margin-top: -20px; margin-bottom: 5px ">
                                    <b>Show more</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
        </div>
        <!-- right page ends-->
    </div><!--/fluid-row-->
</div><!--/.fluid-container-->
<script>
    if ($('.cityList').length > 1) {
        $('tr[city]:visible').each(function () {
            var city = $(this).attr('city');
            $(this).nextAll('tr[city="' + city + '"]').hide();
        });
    }
    $(".show-more").click(function () {
        var cityName = $(this).attr("show");
        console.log(cityName);
        $('[city="' + cityName + '"]:gt(0)').toggle();
        $(this).text() === 'Show less' ? $(this).text('Show more') : $(this).text('Show less');
    });
</script>
<style>
    .navbar{
        background-image: linear-gradient(#426b82, #2fa4e7 60%, #1d9ce5);
    }
</style>
<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>
<!-- Time-JavaScript -->
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        }
        ; // add zero in front of numbers < 10
        return i;
    }
</script>
<!-- //Time-JavaScript -->

</body>
</html>
